/build
/.gradle
/.idea
/gradle
/backup
/src/test/resources/hibernatetest.properties
/schedule_logs
.env
/terraform_project/*.tfstate
/terraform_project/*.tfstate.*
/terraform_project/.terraform/
/terraform_project/*.tfvars
/terraform_project/terraform.tfvars
.tfstate
.tfstate.*
.terraform/
*.tfvars
terraform.tfvars

*/.terraform/
*.tfstate
.tfstate.
**/*.tfvars
/prometheus/terraform_prometheus/terraform.tfvars

