/build
/.gradle
/.idea
/gradle
/backup
/src/test/resources/hibernatetest.properties
/schedule_logs
.env


# Terraform files in aws-tf
aws-tf/.terraform/
aws-tf/*.tfstate
aws-tf/*.tfstate.*
aws-tf/*.tfvars
aws-tf/*.tfstate.lock.hcl
aws-tf/terraform.tfvars
